---
layout: default
---

<div class="home">
  <center><h1>HDR</h1></center>
  {{ content }}

  <p>
    <div class="row">
     <div class="col-sm-4"><img src="/assets/img/blank.png"></div>
     <div class="col-sm-4"><img src="/assets/img/blank.png"></div>
     <div class="col-sm-4"><img src="/assets/img/blank.png"></div>
   </div>
  </p>

  <p>
   <div class="row">
     <div class="col-sm-4"><img src="/assets/img/blank.png"></div>
     <div class="col-sm-4"><img src="/assets/img/blank.png"></div>
     <div class="col-sm-4"><img src="/assets/img/blank.png"></div>
    </div>
  </p>

  <p>
    <div class="row">
     <div class="col-sm-4"><img src="/assets/img/blank.png"></div>
     <div class="col-sm-4"><img src="/assets/img/blank.png"></div>
     <div class="col-sm-4"><img src="/assets/img/blank.png"></div>
    </div>
  </p>

</div>

<div class="row">
  <div class="col-sm-6">
    <h2>
      <center>
        <a href="/work/">WORK</a>
      </center>
    </h2>
  </div>
  <div class="col-sm-6">
    <h2>
      <center>
        <a href="/about/">CONTACT</a>
      </center>
    </h2>
  </div>
</div>
